@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Orbitron:wght@500&display=swap");

body {
  background: #000;
}

.fecha {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  color: white;
}

.hora {
  font-family: "Londrina Outline", cursive;
  font-size: 2rem;
  color: white;
  letter-spacing: 3px;
}

/* agregar efecto neon */

.azul {
  text-shadow: 0 0 5px #7bacff, 0 0 10px #7bacff, 0 0 20px #7bacff,
    0 0 40px #7bacff, 0 0 80px #7bacff, 0 0 90px #7bacff, 0 0 100px #7bacff;
}

.rosa {
  text-shadow: 0 0 5px #ff7bac, 0 0 10px #ff7bac, 0 0 20px #ff7bac,
    0 0 40px #ff7bac, 0 0 80px #ff7bac, 0 0 90px #ff7bac, 0 0 100px #ff7bac;
}

.verde {
  text-shadow: 0 0 5px #7bffce, 0 0 10px #7bffce, 0 0 20px #7bffce,
    0 0 40px #7bffce, 0 0 80px #7bffce, 0 0 90px #7bffce, 0 0 100px #7bffce;
}

/* botones */

.btn-azul {
  background: #7bacff;
}
.btn-rosa {
  background: #ff7bac;
}
.btn-verde {
  background: #7bffce;
}
